<html>
  <head>
    <title>Oauth 2.0 | Example</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <style>
      .container {
        margin-top: 15%;
        text-align: center;
      }

      a {
        display: block;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
      }
      a:hover {
        text-decoration: none;
      }
      a div {
        display: block;
      }

      footer {
        color: #999;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="container text-primary">
      <a href="/auth/google/login">
        <div class="pb-4">
          <img width="150px" alt='Google "G" Logo' src="./google-logo.jpg" />
        </div>
        Login with Google
      </a>
    </div>
    <footer>
      <p class="mt-4">Oauth 2.0 (0.0.0v)</p>
    </footer>
  </body>
</html>
